.div-components {
    background-color: white;

    border-radius: 15px;
    border-style: solid;
    border-width: 2.5px;

    display: grid;

    height: fit-content;
    min-height: min-content;
    max-height: max-content;

    width: fit-content;
    min-width: min-content;
    max-width: max-content;
}

.h1 {
    display: grid;
    
    font-size: 25px;
    font-style: italic;

    justify-content: center;
    justify-items: center;
}

.navbar {
    background-color: azure;

    border-bottom: 1px solid black;

    font-size: 15px;
    font-style: italic;
    justify-content: center;
    justify-items: center;
    
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;

    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    width: 500px;
}
