.div-logIn-route {
    display: grid;

    justify-content: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.h1-title {
    color: color-mix(in srgb-linear, red 33%, green 34%, blue 33%);
    display: grid;
    font-size: 25px;
    justify-content: center;
}

.div-logIn-component {
    background-color: white;

    border-radius: 15px;
    border-style: solid;
    border-width: 2.5px;

    display: grid;

    height: fit-content;
    min-height: min-content;
    max-height: max-content;

    width: fit-content;
    min-width: min-content;
    max-width: max-content;
}
