<div class="div-logIn-route" >

    <h1 class="h1-title" >Search-App</h1>

        <div class="div-logIn-component" >

            <input class="logIn-NavBar" id="username-text-box" type="text" placeholder="USERNAME..." (input)="getUserName()" >

            <input class="logIn-NavBar" id="password-text-box" type="text" placeholder="PASSWORD..." (input)="getPassWord()" >
            
            <button class="logIn-Button" id="loginButton" type="button" (click)="logIn()" routerlink="/home" >LOGIN</button>

        </div>
</div>
