<div class="div-logIn-route" >

    <h1 class="h1-title" > Search-App </h1>

        <div>
            <form class="div-logIn-component" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <input
                    class="log-NavBar"
                    id="username-text-box"
                    type="text"
                    placeholder="USERNAME..."
                    formControlName="username" >

                <input
                    class="log-NavBar"
                    id="password-text-box"
                    type="text"
                    placeholder="PASSWORD..."
                    formControlName="password" >

                    <button
                        class="log-Button"
                        id="loginButton"
                        type="submit"
                        routerlink="/home" > LOGIN </button>
            </form>
        </div>
</div>
